
        .upload-container{
            padding: 20px;
            margin-top: 50px;
            width: 70%;
            border: 2px solid #0000003f;
            border-radius: 10px;
        }

        .upload-container h2{
            text-align: center;
        }

        /* imports
        /* Middle Content //////////////////////////////////*/

            .input-grp{
                margin: 10px
            }

            .middleContent{
                max-width: 1800px;
                margin: auto;
                /*height: 680px;*/
                width: 100%;
                padding-top: 50px;
                /*padding-bottom: 20px;*/
                text-align: center;

            }

            .middleContent .middle-content-title{
                display: block;
                margin-bottom: 50px;
                text-align: center;
                font-size: 2em;
                text-transform: capitalize;
                font-weight: 700;
                color: rgb(5, 124, 145);}

            .items-display{
                width: 90%;
                margin: auto;
                display: flex;
                align-items: start;
                flex-wrap: wrap;
                /*padding: 2%;*/
                /*border: 2px solid black;*/
                text-align: center;

            }

            .items {
                width: 260px;
                /*background-color: #fff;*/
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin: 20px;
                border-radius: 10px;
                
            }

            .image-container{
                text-align: center;
                display: flex;
            }

            
            


            .btn-more{
                display: none;
                position: absolute;
                border: none;
                border-radius: 5px;
                height: 30px;
                background-color: rgba(17, 34, 51, 0.659);
                opacity: 0.5;
                padding: 5px;
                color: #fff;
                font-weight: 500;
                text-transform: capitalize;
                z-index: 1;
                margin: 130px;
                cursor: pointer;


            }

            /*.btn-more:hover{
                background-color: rgba(17, 34, 51, 0.809);
                opacity: 1;
            }*/

            img{
                width: 100%;
                height: auto;
                cursor: pointer;
                display: block;
                margin-top: auto;
                margin-bottom: auto;
            }
            
            .details-area {
                /*display: flex;
                flex-direction: column;*/
                background-color: #fff;
                text-align: left;
                font-size: 1.2em;
                text-transform: capitalize;
                font-weight: 700;
                padding: 10px 20px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px ;
                
            }

            .details-area span{
                display: inline-block;
                
            }

            .links b{
                display: inline-block;
                font-size: 1em;
                opacity: 0.6;
            }

            .details-area a{
                color: black;
                opacity: 0.6;
                font-size: 0.6em ;
                text-decoration: none;
                cursor: pointer;

            }

            .details-area a:hover{
                opacity: 1;
            }


            .old-price{
                text-decoration: line-through;
                opacity: 0.6;
                font-size: 0.75em;
            }

            .price{
                font-size: 0.75em;
            }


            .details-area .add-btn{
                display: block;
                height: 35px;
                width: 90px;
                border-radius: 10px;
                margin-top: 10px;
                padding: 5px;
                background-color: #E65339;
                border: none;
                color: #fff;
                font-size: 0.8em;
                font-weight: 500;
                text-transform: capitalize;
            }


            .details-area .add-btn:hover{
                background-color: aqua;
                color: #001;
            }




            @media screen and (max-width: 1024px) {


                .items-display{
                    justify-content: center;
                }

                .middleContent span{
                    text-align: center;
                    margin: auto;
                }

                    
                /*.image-container{
                    max-height: 400px;
                    /*min-width: 300px;*/
  
                    /*overflow: hidden;

                }*/

            }

            @media screen and (min-width: 800px){
                .image-container{
                    height: 260px;
                    overflow: hidden;
    
                }
            }


            @media screen and (max-width: 800px) {

                .items-display{
                    flex-direction: column;
                }

                .items{
                    margin: 20px auto;
                    width: 60%;
                }
                
            }

            @media screen and (max-width: 500px) {

                .items{
                    margin: 20px auto;
                    width: 90%;
                }
            }
