<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Upload</title>

    <style>
        .container{
            margin-top: 100px;
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2> Upload A file </h2>
        <form  ref='uploadForm' action='/upload' method='post' encType="multipart/form-data">
            <div class="form-group">
                <label for="fileName"> File Name </label>
                <input type="text" name="fileName" class="form-control" id="exampleInputName">
            </div>
            <div class="form-group">
                <label for="sampleFile"> File To Upload </label>
                <input type="file" name="sampleFile" />
            </div>
            <input type='submit' class="btn btn-default" value='Upload' />
        </form>
        
    </div>

</body>
</html>